{% extends 'medical_site/base.html' %}
{% load static %}

{% block icon %}
    <title>Добавить отделение</title>
    <link rel="icon" href="{% static 'images/create.png' %}" type="image/x-icon">
{% endblock %}
<h3 style="text-align:center">Добавить отделение</h3>

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">
                             {% if object %}
                                Сохранить
                             {% else %}
                                Добавить
                             {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
